<div class="header-inner">
  <a class="brand" href="index.html">
    <img src="assets/images/ray_white.png" alt="" width="40" height="40" />
    <span class="brand-text">Manta</span>
  </a>
  <button
    class="nav-toggle"
    type="button"
    aria-expanded="false"
    aria-controls="site-nav-panel"
    aria-label="Open navigation menu"
  >
    <span class="nav-toggle-icon" aria-hidden="true"></span>
  </button>
  <div
    class="site-nav-panel"
    id="site-nav-panel"
    aria-hidden="true"
  >
    <nav aria-label="Main">
      <ul class="site-nav" id="site-nav">
        <li><a href="index.html" data-nav="home">Home</a></li>
        <li><a href="getting-started.html" data-nav="getting-started">Getting started</a></li>
        <li><a href="commands.html" data-nav="commands">All commands</a></li>
        <li><a href="reference.html" data-nav="reference">Reference</a></li>
      </ul>
    </nav>
  </div>
</div>
